
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.button {
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	filter:grayscale(90%);
	filter:brightness(50%);
}

.content {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
	text-align: center;
    padding: 15px;
	font: 15px Lucida Console, sans-serif;
	text-decoration: none;
	color: #f35626;
   
}


}

